http://wrowfusion.local.example.com {

    reverse_proxy localhost:5000

    encode gzip
    
    log {
        output file /var/log/caddy/access.log {
            roll_size 10mb
            roll_keep 5
            roll_keep_for 720h
        }
    }
}