http://wrowfusion.local.example.com {
    root * /var/www/wrowfusion-dashboard
    file_server

    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @ws localhost:8765

    encode gzip
    log {
        output file /var/log/caddy/access.log {
            roll_size 10mb
            roll_keep 5
            roll_keep_for 720h
        }
    }
}